main {
   border: 2px solid gray;
   margin: 1em
}

header {
   display: inline;
}

article {
   display: flex;
}

.article-img {
   margin-left: 1em;
   padding-top: 1em;
}
.details {
   display: inline;
   margin: 1em;
}

.links {
   margin-top: 1em;
   margin-right: 1em;
}
